"verify a certificate fingerprint" algorithm (almost) always returns false

The "verify a certificate fingerprint" compares a fingerprint from the "compute a fingerprint" algorithm to fingerprints from the server_certificate_fingerprints list in the QuicTransportConfiguration.

The "compute a fingerprint" algorithm formats the fingerprint according to RFC 8122 section 5, which puts the fingerprint in uppercase hex. The server_certificate_fingerprints list is a sequence of RTCDtlsFingerprint, defined at https://www.w3.org/TR/webrtc/#dictionary-rtcdtlsfingerprint-members, which states that they are lowercase. Since one is uppercase and the other is lowercase, they can never be equal (unless by luck the fingerprint contains only hex digits 0 thru 9).

I think the ideal fix would be to modify the webrtc spec to make its fingerprints uppercase to match RFC 4572 and RFC 8122, but if that's not a practical change to make, then something needs to be changed in web-transport.

Why not compare the raw bytes?  Sure, RtcDtlsFingerprint has DOMString members, but that doesn't mean that they need to be stored and used that way.

I agree that comparing raw bytes would be a sensible thing to do. As it currently stands, `serverCertificateFingerprints` is of type type sequence<RTCDtlsFingerprint>, and according to https://www.w3.org/TR/webrtc/#dictionary-rtcdtlsfingerprint-members, the only contents of RTCDtlsFingerprint are the DOMString members (where the `value` field is lowercase hex instead of uppercase hex).

To take the approach of comparing raw bytes, I think that would mean in "compute a certificate fingerprint" removing the "Format it as ..." sentence, and then in "verify a certificate fingerprint" do something to convert the lowercase hex from `fingerprint` into raw bytes so it matches the SHA-256 output from the "compute a certificate fingerprint" step. (Presumably implementations could choose to store the raw bytes in their RTCDtlsFingerprint implementation to make this conversion step in the spec a no-op.)

I think I made it serialize into string out of the general principle "it's safer to serialize things than to parse them".