Stats for congestion control and bandwidth estimation

One of the use cases we are interested in is media streaming; when streaming media, the application can often decide to change the amount of data it sends based on how much bandwidth it expects to have available.  Since all of the transports we define are congestion-controlled, we already naturally have to make some form of a guess regarding how much data the path can handle (even though it can be as rudimentary as CWND/RTT).

We should provide an API that lets the underlying transport library expose this kind of data to the Web application.  My intuitive idea would be `estimateBytesAvailable(time)`, or even `estimateBytesAvailable(time, p)`, for models that accept the target probability of not oversending (for fancier models that accept such parameter, e.g. [Sprout](https://www.usenix.org/system/files/conference/nsdi13/nsdi13-final113.pdf)).

cc @keithw, who is an expert on this topic and might have a much better idea of how this API should look.

From [RTP over QUIC Section 4.1](https://datatracker.ietf.org/doc/html/draft-engelbart-rtp-over-quic):

"   Additionally, a QUIC implementation MUST expose the recorded RTT
   statistics as described in Section 5 of [RFC9002] to the application.
   These statistics include the minium observed RTT over a period of
   time ("min_rtt"), exponentially-weighted moving average
   ("smoothed_rtt") and the mean deviation ("rtt_var").  These values
   are necessary to perform congestion control as explained in
   Section 4.2."

[RTP over QUIC Section 5.1](https://www.ietf.org/id/draft-engelbart-rtp-over-quic-02.html#name-rtcp-and-quic-connection-st) describes the statistics necessary for bandwidth estimation (most of which are not provided in WebTransport). 

We [have](https://w3c.github.io/webtransport/#dictdef-webtransportstats) half of those (`timestamp`, `min_rtt`, `smoothed_rtt`, and`rtt_var`).

Of the remaining, `pkt_arrival` (for client-side sending) would presumably have to come from the server through some app back channel, right?

That leaves:
* `pkt_departure` — I [_believe_](https://w3c.github.io/webtransport/#webtransportsendstream-write) `await writer.write(data);` gives you this?
* `latest_rtt` — should be trivial
* `ecn` — from a search I found [ECN-in-QUIC](https://github.com/quicwg/base-drafts/wiki/ECN-in-QUIC)... Is that the right link? Has anyone implemented it?

Correlating departure times with arrival times from the server then seems like an app problem.

Is providing these two stats all we need to offload this problem to the app? If so, should we add them?

There were two reasons why we included different RTT values in the first draft. 1. If the congestion controller uses the acknowledgements and departure and arrival times only to calculate an RTT, we can directly use the RTT that is calculated by QUIC. 2. Since QUIC acknowledgements do not include an arrival timestamp (`pkt_arrival`), we could use the RTT to calculate an approximation of the arrival time.
`pkt_arrival` would be more accurate and could be added to QUIC using an extension like [draft-smith-quic-receive-ts](https://www.ietf.org/archive/id/draft-smith-quic-receive-ts-00.html) or [draft-huitema-quic-ts](https://www.ietf.org/archive/id/draft-huitema-quic-ts-07.html).

If the arrival time is not available in QUIC through any extension, it could also still be implemented at the application layer, but that would use more bandwidth and may be less precise if the application cannot access the exact timestamp at which packets were sent/received.

I think [quic-go](https://github.com/lucas-clemente/quic-go) implements ECNs, but I don't know if the congestion controller acts on it. I don't know about other implementations.

Meeting:
- ecn doesn't seem like a thing to expose to JS
- Where are the above measurements made? May be differences between QUIC native apps and WebTransport (browsers) here
- Might get more info from the next AVTCore meeting

 > pkt_departure — I [believe](https://w3c.github.io/webtransport/#webtransportsendstream-write) await writer.write(data); gives you this?

IIUC RTP over QUIC uses datagrams, and the promise returned by [writeDatagrams](https://w3c.github.io/webtransport/#writedatagrams) gives you effectively nothing.

AVTCORE WG virtual interim slides are [here](https://docs.google.com/presentation/d/1ot8QMaR6lRSz4ULcJlXkqQHkyKlzsV382447s962QeA/edit#slide=id.g12a39a56456_0_64)
Minutes are [here](https://datatracker.ietf.org/doc/minutes-interim-2022-avtcore-02-202205191000/). 

Comparison of existing stats against those supported by RFC 8888 and draft-engelbart-rtp-quic is [here](https://docs.google.com/presentation/d/1ot8QMaR6lRSz4ULcJlXkqQHkyKlzsV382447s962QeA/edit#slide=id.g12c2557e5e9_0_5). 

Summary: latest_rtt, packet_deparature, packet_arrival, ecn and ACK info.

> ... the promise returned by [writeDatagrams](https://w3c.github.io/webtransport/#writedatagrams) gives you effectively nothing.

@yutakahirano I've filed https://github.com/w3c/webtransport/issues/400 on this.

It sounds like we want a stat for `packet_departure` at least (I don't see how `packet_arrival` of data *from* the server is relevant stat, unless this is about ACKs?)

Regarding where this stat goes, I have a question for the group:

> IIUC RTP over QUIC uses datagrams

Are we only talking about media streaming over datagrams?

Meeting:
- shoot I forgot to ask this question

Does the application require absolute packet-arrival and packet-departure times? I would think that any algorithm attempting RTP over WT would care about the delta between the two (i.e packet-transfer-time) more so than the absolute timestamps? If so, how does this differ from RTT/2 ? 

https://www.rfc-editor.org/rfc/rfc8888.pdf gives details of a feedback format that seemed to the authors to support all the requirements of NADA, SCReAM and the Google Congestion Control algorithm as they were understood at the time.
If we can get all that information, I think we have enough information.

The important thing for GCC (which I was a bit familiar with at one point) is that it tries to detect changes in transit delay that indicate queue buildup and tries to act on it before the queue is full; for that, the more information you can have about packet arrival times, the better.


While the browser has the ability to measure packet departure and arrival times, an application will have difficulty measuring this with much accuracy.  It's important to not to mix in queueing delays (in WHATWG streams or the QUIC stack send/receive queues). There are proposals for [QUIC timestamps](https://datatracker.ietf.org/doc/html/draft-huitema-quic-ts), [Receiver timestamps](https://datatracker.ietf.org/doc/html/draft-smith-quic-receive-ts) and [ACK frequency](https://datatracker.ietf.org/doc/html/draft-ietf-quic-ack-frequency) that can help (and should be considered as normative dependencies). 

Meeting:
- one issue: per-stream is about bytes, not packets
- I'm sending data down a stream, how fast can I send it?
- why can't UAs make stats that tell me what my estimated bandwidth are directly?
- Easier to add stats for the entire connection, would go into `getStats`.

Question: Are things that are to be used for congestion control better provided via events rather than stats?  You don't want to encourage frequent polling of stats. But the application is looking for the kind of information described in [RFC 8888 ](https://datatracker.ietf.org/doc/html/rfc8888 )or [draft-ietf-avtcore-rtp-over-quic](https://datatracker.ietf.org/doc/html/draft-ietf-avtcore-rtp-over-quic), then an Event might make more sense.