@aboba I see [numReceivedDatagramsDropped](https://w3c.github.io/webtransport/#dom-webtransportstats-numreceiveddatagramsdropped) in the spec. Can we close this?

Now that we have [outgoingMaxAge](https://w3c.github.io/webtransport/#dom-datagramduplexstream-outgoingmaxage), do we need an equivalent stat for the outgoing side, to catch JS pumping more data than the sender can handle? Might be useful for JS to debug their code.

How about `wt.datagram.getStats()` and:
```idl
dictionary WebTransportDatagramStats {
  unsigned long long droppedTooBig;
  unsigned long long droppedIncoming;
  unsigned long long lost;
};
```

Meeting:
- droppedTooBig is an edge case where data gets past the API limit, but implementation still can't send it?
- For outgoing do we care about difference between dropped (in sender) or lost (on network)?
- droppedTooBig doesn't add a lot of value
- If the Path MTU changes without an event it is hard to act on it.
- As a receiver you have a finite buffer. App isn't reading fast enough.
- lostOutgoing?

Regarding path MTU event, we decided this was too hard already in https://github.com/w3c/webtransport/issues/314.

So without droppedTooBig, JS would discover a spike in lost, then look at 

Also, do we need a `droppedExpired`? This would be dropped datagrams older than [outgoingMaxAge](https://w3c.github.io/webtransport/#dom-webtransportdatagramduplexstream-outgoingmaxage), which slightly differs from Martin's [dump of Firefox QUIC stats](https://github.com/w3c/webtransport/issues/374#issuecomment-988378453) that the others here are based on.

`droppedExpired` seems like a good idea.

`droppedTooBig` is of marginal utility. Better to be able to be reasonably sure at the time of writing that it won't be too big (feedback via errors rather than stats).

I think this means we're here:
```idl
dictionary WebTransportDatagramStats {
  unsigned long long droppedExpired; // from outgoingMaxAge
  unsigned long long droppedIncoming; // from app not reading fast enough
  unsigned long long lost;
};
```
Meeting:
- `lost` means it did get out but it wasn't acknowledged and the retransmission timeout (RTO) expires, and other things like reordering, loss-detection. TL;DR: see RFC9002, section 6.1. (unacknowledged, in-flight, and sent prior to an acknowledged packet) 
- 

QUIC doesn't do RTO, so I'm not sure what you mean here.  QUIC declares loss under very specific conditions (which you cite and don't need to restate).

Meeting:
- Move datagrams to a the existing wt.getStats() and put the datagram stats in a datagrams sub-dictionary.