RTT definitions are per path, not per conneciotn

For example, `WebTransportConnectionStats.minRtt` is currently defined as:
> The minimum round-trip time observed on the entire connection.

However, it is a per-path property: it might change after connection migration, and it might be reset after persistent congestion (see RFC 9002, section 5.2). The same applies to the other RTT-related values.


If you don't implement multi-path, this reduces to something that might change over time, right?  The API doesn't promise that the value is static.  So the action would be to note that this is for "a" chosen path if the connection is using multiple paths.

All other values in the stats are path-specific also, though maybe even less necessary to expose as per-path.

> The minimum round-trip time observed on the entire connection.

I agree this sentence is a bit confusing, as in returning the "minimum" ever observed over time. The problem seems to be that "observed on the entire connection" can be read as meaning over time.

I think we need to adjust this prose to fix this rather than a note.

A note for this one stat seems out of place in the sense that all stats are path-specific and changing.


Meeting:
- No objection to adding RFC 9002 and doing whatever it says.